
{% extends 'layout.jinja2' %}


{% block content %}
  

  <div class="container">
    {% include 'messages.jinja2' %}
    <h1 id="titol_de_seccio">{{ title }}</h1>
      {# <div class="botons">
        <input id="fileInput_professor" name="fichero" type="file" style="display:none;" />
        <button type="button" id="izquierda" onclick="document.getElementById('fileInput_professor').click();">Importar Professors</button>
        <a href="{{ url_for('professors_bp.exportar_professors') }}">
          <button id="derecha"">Exportar Professors</button>
        </a>
      </div> #}
    
    {{ form.filtrar_professor.label }}
    {{ form.filtrar_professor }}

    <table class="llistat">
    {% for professor in professors.items %}
        <tr>
            {% if professor.hores_restants == 0 %}
              <td><b>{{professor.nom }}</b> <br> (0% disponible)</td>              
            {% else %}
              <td><b>{{professor.nom }}</b> <br> ({{(professor.hores_restants / professor.hores_alliberades)*100}}% disponible)</td>
            {% endif %}
            <td><a href="{{ url_for('professors_bp.ajustos', usuari=professor.nom_de_usuari) }}"><button class="vistes">Vore Ratis</button></a>
            <td><a href="{{ url_for('professors_bp.alumnes_professor', usuari=professor.nom_de_usuari) }}"><button class="vistes">Vore Alumnes</button></a>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ url_for('professors_bp.afegir_professor') }}"><button class="afegir">Afegir Professor</button>
    <div class=pagination>
      <ul>
      {% if professors.has_prev %}
        <li>
          {% if form.filtrar_professor.data %}
            <a class="pag" href="{{ url_for('professors_bp.llistat', filtro=form.filtrar_professor.data, pagina=professors.prev_num) }}">Anterior</a>
          {% else %}
            <a class="pag" href="{{ url_for('professors_bp.llistat', pagina=professors.prev_num) }}">Anterior</a>
          {% endif %}
        </li>
      {% endif %}

      <!-- all page numbers -->
      {% for page_num in professors.iter_pages() %}
          {% if page_num %}
              {% if page_num != professors.page %}
                  <li>
                    {% if form.filtrar_professor.data %}
                      <a class="pag" href="{{ url_for('professors_bp.llistat', filtro=form.filtrar_professor.data, pagina=page_num) }}">{{ page_num }}</a>
                    {% else %}
                      <a class="pag" href="{{ url_for('professors_bp.llistat', pagina=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                  </li>
              {% else %}
                  <li class="active">
                      <a class="pag" href="#">{{ page_num }}</a>
                  </li>
              {% endif %}
        {% else %}
            <li>
                <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
            </li>
        {% endif %}
      {% endfor %}

      <!-- next page -->
      {% if professors.has_next %}
      <li>
        {% if form.filtrar_professor.data %}
          <a class="pag" href="{{ url_for('professors_bp.llistat', filtro=form.filtrar_professor.data, pagina=professors.next_num) }}">Siguiente</a>
        {% else %}
          <a class="pag" href="{{ url_for('professors_bp.llistat', pagina=professors.next_num) }}">Siguiente</a>
        {% endif %}
      </li>
      {% endif %}
    </ul>
    </div>

  </div>
{% endblock %}