
{% extends 'layout.jinja2' %}


{% block content %}
  

  <div class="container">
    {% include 'messages.jinja2' %}
    <h1 id="titol_de_seccio">{{ title }}</h1>
    
    <table>
    {% for professor in professors %}
        <tr>
            <td>{{professor.nom }}</td>
            <td><a href="{{ url_for('professors_bp.editar_professor', usuari=professor.nom_de_usuari) }}"><button>Editar</button></a>
            <td>
              <form method="POST" action="{{ url_for('professors_bp.eliminacio_de_professor', usuari=professor.nom_de_usuari) }}">
                <button type="submit">Eliminar</button>
              </form>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ url_for('professors_bp.anyadir_professor') }}"><button>Anyadir Professor</button>
  </div>

{% endblock %}