
{% extends 'layout.jinja2' %}


{% block content %}
  

  <div class="container">
    {% include 'messages.jinja2' %}
    <h1 id="titol_de_seccio">{{ title }}</h1>
            <div class="botons">
      <form method="POST" action="{{ url_for('professors_bp.importar_professors') }}">
          <button type="file" id="izquierda">Importar Professors</button>
      </form>
      <a href="{{ url_for('professors_bp.exportar_professors') }}">
        <button type="file" id="derecha">Exportar Professors</button>
      </a>
    </div>
    
    {{ form.filtrar.label }}
    {{ form.filtrar }}

    <table class="llistat">
    {% for professor in professors.items %}
        <tr>
            <td>{{professor.nom }}</td>
            <td><a href="{{ url_for('professors_bp.editar_professor', usuari=professor.nom_de_usuari) }}"><button>🖊</button></a>
            <td>
              <form method="POST" action="{{ url_for('professors_bp.esborrar_professor', usuari=professor.nom_de_usuari) }}">
                <button type="submit">🗑️</button>
              </form>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ url_for('professors_bp.anyadir_professor') }}"><button class="anyadir">Anyadir Professor</button>
    <div class=pagination>
      <ul>
      {% if professors.has_prev %}
        <li>
            <a class="pag" href="{{ url_for('professors_bp.llistat', pagina=professors.prev_num) }}">Anterior</a>
        </li>
      {% endif %}

      <!-- all page numbers -->
      {% for page_num in professors.iter_pages() %}
          {% if page_num %}
              {% if page_num != professors.page %}
                  <li>
                      <a class="pag" href="{{ url_for('professors_bp.llistat', pagina=page_num) }}">{{ page_num }}</a>
                  </li>
              {% else %}
                  <li class="active">
                      <a class="pag" href="#">{{ page_num }}</a>
                  </li>
              {% endif %}
        {% else %}
            <li>
                <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
            </li>
        {% endif %}
      {% endfor %}

      <!-- next page -->
      {% if professors.has_next %}
      <li>
          <a class="pag" href="{{ url_for('professors_bp.llistat', pagina=professors.next_num) }}">Siguiente</a>
      </li>
      {% endif %}
    </ul>
    </div>

  </div>
{% endblock %}