<!--
  Autor: David Fernández Fuster.
  Data: 13/08/2022.
  Renderitza: Peu de Pàgina.
-->
<footer>
    <div id="navegacio_de_footer">
        <p>Intranet</p>
        <p>|</p>
        <p>Polítiques de Privacitat</p>
        <p>|</p>
        <p>Avís Legal</p>
    </div>
    <div id="info_de_institucio">
        <p>Nom de Institució<br>
           Direcció de Institució</p>
    </div>
</footer>
<!-------------------------------------
--------------------------------------->