<!--
  Autor: David Fernández Fuster.
  Data: 13/08/2022.
  Renderitza: Pàgina d'Inici.
  Variable: titol - Nom de l'aplicació.
            descripcio - Motiu de l'aplicació.
-->
{% extends 'layout.jinja2' %}

{% block content %}
    <div class="container">
        {% include 'messages.jinja2' %}
        <h1 id="titol_de_seccio">{{titol}}</h1>
        <p id="descripcio_de_projecte">{{descripcio}}</p>
    </div>
{% endblock %}
<!-------------------------------------------------------
-------------------------------------------------------->