<!--
  Autor: David Fernández Fuster.
  Data: 13/08/2022.
  Renderitza: Estructura html.
  Variable: titol - Nom de l'aplicació.
-->
<!doctype html>
<html>

  <!-- Meta -->
  <head>
    <title>{{ titol }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    {% block css %}
      <link href="{{ url_for('static', filename='/dist/css/style.css') }}" rel="stylesheet">
      <link href="{{ url_for('alumnes_bp.static', filename='/dist/css/alumnes.css') }}" rel="stylesheet">
      <link href="{{ url_for('empreses_bp.static', filename='/dist/css/empreses.css') }}" rel="stylesheet">
    {% endblock %}
    {% block js %}
      <script src="{{ url_for('static', filename='/dist/js/main.min.js') }}"></script>
      <script src="{{ url_for('static', filename='/dist/js/worker.min.js') }}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% endblock %}
  </head>

  <!-- Contingut -->
  <body>
    {% include 'navigation.jinja2' %}
    {% include 'progress_bar.jinja2' %}
    {% block content %}{% endblock %}
  </body>

  <!-- Peu de Pàgina -->
  {% include 'footer.jinja2' %}

  <script> 
    $(document).ready(function() {
      $("#filtrar_alumne").on("keyup", function() {
          setTimeout(() => {  
            var value = $(this).val().toLowerCase(); 
            window.location.href = "http://127.0.0.1:5000/llistat_alumnes/filtro/"+value; 
          }, 3000);
      });
      $("#filtrar_professor").on("keyup", function() {
          setTimeout(() => {  
            var value = $(this).val().toLowerCase(); 
            window.location.href = "http://127.0.0.1:5000/llistat_professors/filtro/"+value; 
          }, 3000);
      });
      $("#filtrar_empresa").on("keyup", function() {
          setTimeout(() => {  
            var value = $(this).val().toLowerCase(); 
            window.location.href = "http://127.0.0.1:5000/llistat_empreses/filtro/"+value; 
          }, 3000);
      });
      $("#filtrar_assignacions").on("keyup", function() {
          setTimeout(() => {  
            var value = $(this).val().toLowerCase(); 
            window.location.href = "http://127.0.0.1:5000/assignacio/filtro/"+value; 
          }, 3000);
      });

      $("#fileInput_alumne").on("input", function(){
        var x = $('#fileInput_alumne')[0].files[0].name;
        var cicle = x.replace(/\.[^/.]+$/, "")
        var formData = new FormData();
        formData.append('fichero', $('#fileInput_alumne')[0].files[0]);
        formData.append('cicle', cicle);
        $.ajax({
          url : 'http://127.0.0.1:5000/importar_alumnes',
          type : 'POST',
          data : formData,
          processData: false,
          contentType: false,
          success : function(data) {
            window.location.reload();
          }
        });
      });
      $("#fileInput_professor").on("input", function(){
        var x = $('#fileInput_professor')[0].files[0].name;
        var formData = new FormData();
        formData.append('fichero', $('#fileInput_professor')[0].files[0]);
        $.ajax({
          url : 'http://127.0.0.1:5000/importar_professors',
          type : 'POST',
          data : formData,
          processData: false,
          contentType: false,
          success : function(data) {
            window.location.reload();
          }
        });
      });
      $("#fileInput_empresa").on("input", function(){
        var x = $('#fileInput_empresa')[0].files[0].name;
        var formData = new FormData();
        formData.append('fichero', $('#fileInput_empresa')[0].files[0]);
        $.ajax({
          url : 'http://127.0.0.1:5000/importar_empreses',
          type : 'POST',
          data : formData,
          processData: false,
          contentType: false,
          success : function(data) {
            window.location.reload();
          }
        });
      });
  });
  </script>

</html>
<!---------------------------------------------------------
---------------------------------------------------------->