<!--
  Autor: David Fernández Fuster.
  Data: 13/08/2022.
  Renderitza: Missatges flash (resultats de les peticions).
  Variable: flash()
-->
{% for message in get_flashed_messages() %}
    <div class="missatge">
        <button
          type="button"
          class="close"
          onclick="tancarNotificacio()">
            x
        </button>
        {{ message }}
    </div>
{% endfor %}
<!------------------------------------------------------------
------------------------------------------------------------->