
{% extends 'layout.jinja2' %}


{% block content %}
  

  <div class="container">
    {% include 'messages.jinja2' %}
    <h1 id="titol_de_seccio">{{ title }}</h1>
    <table class="llistat">
    {% for alumne in alumnes %}
        <tr>
            <td>{{ alumne.assignacio.Alumne }} - {{ alumne.assignacio.Pràctica}} - {{ alumne.assignacio.professor }}</td>
            <td class="editar"><a href="{{ url_for('assignacions_bp.editar_assignacio', alumne=alumne.assignacio.Alumne, professor=alumne.assignacio.professor, practica=alumne.assignacio.Pràctica) }}"><button>🖊</button></a>
            <td class="borrar">
              <form method="POST" action="{{ url_for('assignacions_bp.esborrar_assignacio', alumne=alumne.assignacio.Alumne, professor=alumne.assignacio.professor, practica=alumne.assignacio.Pràctica) }}">
                <button type="submit">🗑️</button>
            </form>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ url_for('assignacions_bp.afegir_assignacio') }}"><button class="afegir">Afegir Assignació</button>
    <a onclick="empezar_assignacion_automatica()"><button class="assignacio">Realitzar Assignació Automática</button>
  </div>

{% endblock %}