
{% extends 'layout.jinja2' %}


{% block content %}
  

  <div class="form-wrapper">
    {% include 'messages.jinja2' %}
    <h1 id="titol_de_seccio">Inici de Sessió</h1>
    <form method="POST" action="{{ url_for('usuaris_bp.autenticar') }}">

      <fieldset class="form-field">
      <div class="marge_vertical" align='center'>
      {{ form.nom.label }}
      </div>
      <br>
      {{ form.nom }}
        {% if form.nom.errors %}
        <ul class="errors">
          {% for error in form.nom.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        <div align="center" class="marge_vertical">
          {{ form.contrasenya.label }}
        </div>
        <br>
        {{ form.contrasenya }}
        {% if form.contrasenya.errors %}
          <ul class="errors">
            {% for error in form.contrasenya.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <div class="marge_vertical" align="center">
        {{ form.submit }}
      </div>
      </form>
  </div>

{% endblock %}