
{% extends 'layout.jinja2' %}


{% block content %}
  

  <div class="container">
    {% include 'messages.jinja2' %}
    <h1 id="titol_de_seccio">{{ title }}</h1>
        <div class="botons">
      <form method="POST" action="{{ url_for('empreses_bp.importar_empreses') }}">
          <button type="file" id="izquierda">Importar Empreses</button>
      </form>
      <a href="{{ url_for('empreses_bp.exportar_empreses') }}">
        <button type="file" id="derecha">Exportar Empreses</button>
      </a>
    </div>
    
    {{ form.filtrar.label }}
    {{ form.filtrar }}

     {% set count = namespace(value=0) %}
    <table class="llistat">
    {% for empresa in empreses.items %}
        <tr>
            <td>{{ empresa.nom }}</td>
            <td><a href="{{ url_for('empreses_bp.editar_empresa', usuari=empresa.nom_de_usuari) }}"><button>🖊</button></a>
            <td>
              <form method="POST" action="{{ url_for('empreses_bp.esborrar_empresa', usuari=empresa.nom_de_usuari) }}">
                <button type="submit">🗑️</button>
              </form>
        </tr>
        {% set count.value = count.value + 1 %}
    {% endfor %}
    </table>
    <a href="{{ url_for('empreses_bp.anyadir_empresa', nombre_de_empresa=count.value) }}"><button class="anyadir">Afegir Empresa</button>
    <div class=pagination>
      <ul>
      {% if empreses.has_prev %}
        <li>
            <a class="pag" href="{{ url_for('empreses_bp.llistat', pagina=empreses.prev_num) }}">Anterior</a>
        </li>
      {% endif %}

      <!-- all page numbers -->
      {% for page_num in empreses.iter_pages() %}
          {% if page_num %}
              {% if page_num != empreses.page %}
                  <li>
                      <a class="pag" href="{{ url_for('empreses_bp.llistat', pagina=page_num) }}">{{ page_num }}</a>
                  </li>
              {% else %}
                  <li class="active">
                      <a class="pag" href="#">{{ page_num }}</a>
                  </li>
              {% endif %}
        {% else %}
            <li>
                <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
            </li>
        {% endif %}
      {% endfor %}

      <!-- next page -->
      {% if empreses.has_next %}
      <li>
          <a class="pag" href="{{ url_for('empreses_bp.llistat', pagina=empreses.next_num) }}">Siguiente</a>
      </li>
      {% endif %}
    </ul>
    </div>

  </div>

{% endblock %}