@color-de-fons-del-header-i-footer: #c52833;
@color-de-fons-del-body: #ffffff;
@fuente-titulo: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;

header {  
  background-color: @color-de-fons-del-header-i-footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
    span#home{
        position : relative;
        height : 80px;
        width : 100px;
        overflow : hidden;

        img{
            position : absolute;
            top : 0;
            left : 0;
            width: 76px;
            height: 67px;
            margin-left: 19px;
            margin-top: 7px;
        }// img
    }// span

    button#iniciar_sessio{
        width: 99px;
	    height: 41px;
        margin-right: 25px;
        border-radius: 4px;
        background-color: #eaeaea;
        text-decoration: none;
    }// button
    
    div div.navbar {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        margin-right: 25px;
    }// div
}// header

nav#menu{
    display: none;
    a{
        text-decoration: none;
        button {
            background-color: #ebebeb;
            color: black;
            width: 100%;
            height: 48px;
            font-size: 14px;
            display: block;
          }
    }
}// div

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;    
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

div.marge_vertical{
    margin-top: 50px;
    input[type="submit" i] {
        width: 120px !important;
        height: 48px !important;
        border-radius: 4px;
        background-color: #ebebeb;
        border-width: thin;
    }
}

div.missatge{
    background-color: #c8ad32;
    color: white;
    width: 19rem;
    border-radius: 4px;
    text-align: center;
    padding: 2rem;

    button{
        background-color: #c8ad32;
        border-width: 0;
        font-size: 15pt;
        float: left;
        clear: left;
    }
}
h1#titol_de_seccio{
    font-family: @fuente-titulo;
    font-size: 36px;
    text-align: center;
    margin-top: 45px;
}
p#descripcio_de_projecte{
    font-family: @fuente-titulo;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
footer {
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 123px;
    background-color: @color-de-fons-del-header-i-footer;
    color: white;
    text-align: center;

    div#navegacio_de_footer{
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
    }
    div#info_de_institucio{
        display: flex;
        justify-content: flex-start;
        text-align: left;
        margin-top: 36px;
        margin-left: 9px;
        margin-bottom: 13px;
    }
}

ul#disponibilitat_de_cotxe{
    list-style-type: none;
}