<header>
  <img id="logo" src="{{ url_for('static', filename='./img/logo.png') }}" alt="Logo de la Institució.">
  <button id="iniciar_sessio"><a href="{{ url_for('usuaris_bp.mostrar_pantalla_de_inici_de_sessio') }}">Iniciar Sessió</a></button>
</header>